.root {
    -fx-font-family: 'Open Sans';
}

.text {
    -fx-font-smoothing-type: gray;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.ikonli-font-icon {
    -fx-icon-size: 14px;
    -fx-icon-color: #333333;
}

.ikonli-font-icon.incoming {
    -fx-icon-color: mediumseagreen;
}

.ikonli-font-icon.outgoing {
    -fx-icon-color: lightcoral;
}

.context-menu {
    -fx-padding: 5 0 5 0;
    -fx-background-radius: 3;
    -fx-min-width: 100;
}

.menu-item > .graphic-container {
    -fx-padding: 0 8 0 0;
}

.chat-scroll {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: -1, 0;
}

.chat-message {
    -fx-padding: 4 7 3 7;
}
.chat-message.first {
    -fx-padding: 7 7 3 7;
}
.chat-message.last {
    -fx-padding: 4 7 7 7;
}
.chat-message.first.last {
    -fx-padding: 7 7 7 7;
}

.chat-message .card {
    -fx-background-color: white;
    -fx-background-radius: 0 5 5 0;
    -fx-border-width: 0 0 0 3;
    -fx-min-width: 150;
    -fx-effect: dropshadow(gaussian, #cccccc, 5, 0, 1, 1);
}

.chat-message .card .sender {
    -fx-font-weight: bold;
}

.chat-message .card .message {
    -fx-text-fill: black;
}

.chat-message .card .timestamp {
    -fx-text-fill: gray;
    -fx-font-size: 10;
}

.chat-message .card.self {
    -fx-background-color: #bad7f2;
    -fx-background-radius: 5 0 0 5;
    -fx-border-color: #4e98de;
    -fx-border-width: 0 3 0 0;
    -fx-effect: dropshadow(gaussian, #cccccc, 5, 0, -1, 1);
}

.chat-message .card.server {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-effect: none;
    -fx-alignment: center;
}

.chat-message .card.server .message {
    -fx-text-alignment: center;
}
.chat-message .card.server .message * {
    -fx-fill: gray;
    -fx-font-size: 11;
}

.lobby {
    -fx-background-color: white;
}
.lobby .list-cell {
    -fx-padding: 0 10 0 5;
    -fx-pref-height: 40;
    -fx-background-color: transparent;
}
.lobby .list-cell .name {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.lobby .list-cell .role {
    -fx-text-fill: gray;
    -fx-font-style: italic;
    -fx-background-color: transparent;
}
.lobby .list-cell:selected {
    -fx-background-color: -fx-focus-color;
}
.lobby .list-cell:selected .name,
.lobby .list-cell:selected .role {
    -fx-text-fill: white;
}

.text-input,
.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.app-name {
    -fx-font-family: 'Bauhaus 93';
    -fx-font-size: 60;
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.author {
    -fx-font-size: 15;
    -fx-text-fill: derive(-fx-control-inner-background, -50%);
}

.table-column.center {
    -fx-alignment: center;
}

.tile-scroll {
    -fx-border-width: 0;
}

.attachment.thumbnail {
    -fx-background-radius: 5;
}
.attachment.close,
.attachment.view,
.attachment.play,
.attachment.download {
    -fx-background-radius: 5;
}
.attachment.close {
    -fx-background-color: #CD5C5CA0;
}
.attachment.view,
.attachment.play,
.attachment.download {
    -fx-background-color: #1D7CF2A0;
}
.attachment.close .ikonli-font-icon,
.attachment.view .ikonli-font-icon,
.attachment.play .ikonli-font-icon,
.attachment.download .ikonli-font-icon {
    -fx-icon-size: 20px;
    -fx-icon-color: white;
}

.viewer .media-pane {
    -fx-background-color: #333333;
}
.viewer .toolbar,
.viewer .controls {
    -fx-background-color: -fx-background;
}
