.root {
    -fx-font-family: 'Open Sans';
}

.chat-scroll {
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: -1 0 -1 0, 0 1 0 1;
}

.chat-message-container {
    -fx-padding: 4 7 4 7;
}

.chat-message {
    -fx-background-color: white;
    -fx-background-radius: 0 5 5 0;
    -fx-border-width: 0 0 0 3;
    -fx-min-width: 150;
    -fx-effect: dropshadow(gaussian, #cccccc, 5, 0, 1, 1);
}

.chat-message .sender {
    -fx-font-weight: bold;
}

.chat-message .message {
    -fx-text-fill: black;
}

.chat-message .timestamp {
    -fx-text-fill: gray;
    -fx-font-size: 10;
}

.chat-message.self {
    -fx-background-color: #bad7f2;
    -fx-background-radius: 5 0 0 5;
    -fx-border-color: #4e98de;
    -fx-border-width: 0 3 0 0;
    -fx-effect: dropshadow(gaussian, #cccccc, 5, 0, -1, 1);
}

.chat-message.server {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-effect: none;
    -fx-alignment: center;
}

.chat-message.server .message {
    -fx-text-alignment: center;
}
.chat-message.server .message * {
    -fx-fill: gray;
    -fx-font-size: 11;
}

.lobby .list-cell {
    -fx-padding: 0 10 0 5;
}
.lobby .list-cell .name {
    -fx-font-weight: bold;
}
.lobby .list-cell .role {
    -fx-text-fill: gray;
    -fx-font-style: italic;
}
.lobby .list-cell:selected .name,
.lobby .list-cell:selected .role {
    -fx-text-fill: white;
}
.lobby .list-cell .indicator {
    -fx-font-size: 20;
    -fx-padding: 0;
}
.lobby .list-cell .indicator .text {
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.text-input,
.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}
